<a href="https://colab.research.google.com/github/cherrka/tamilla-latypova/blob/main/%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Создание базы данных и таблиц
Создайте базу данных library.db и таблицу books с полями:

id (PRIMARY KEY, AUTOINCREMENT),
title (TEXT, NOT NULL),
author (TEXT, NOT NULL),
year_published (INTEGER),
genre (TEXT).

In [1]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
create_table_query = '''
CREATE TABLE IF NOT EXISTS books (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    year_published INTEGER,
    genre TEXT
);
'''
cursor.execute(create_table_query)
conn.commit()
conn.close()
print("База данных и таблица успешно созданы.")

База данных и таблица успешно созданы.

2. Вставка данных
Добавьте в таблицу books следующие записи:

"The Great Gatsby", автор: F. Scott Fitzgerald, год: 1925, жанр: Fiction.
"1984", автор: George Orwell, год: 1949, жанр: Dystopian.
"To Kill a Mockingbird", автор: Harper Lee, год: 1960, жанр: Classic.

In [2]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
insert_books_query = '''
INSERT INTO books (title, author, year_published, genre) VALUES
    (?, ?, ?, ?);
'''
books_data = [
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925, "Fiction"),
    ("1984", "George Orwell", 1949, "Dystopian"),
    ("To Kill a Mockingbird", "Harper Lee", 1960, "Classic")
]
cursor.executemany(insert_books_query, books_data)
conn.commit()
conn.close()
print("Данные успешно добавлены в таблицу books.")

Данные успешно добавлены в таблицу books.

3. Выборка всех данных
Напишите запрос, который выбирает все книги из таблицы books.

In [3]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
select_all_books_query = 'SELECT * FROM books;'
cursor.execute(select_all_books_query)
books = cursor.fetchall()
for book in books:
    print(book)
conn.close()

(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')
(2, '1984', 'George Orwell', 1949, 'Dystopian')
(3, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')

4. Фильтрация данных
Выберите все книги, опубликованные после 1950 года.

In [5]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
select_books_after_1950_query = 'SELECT * FROM books WHERE year_published > 1950;'
cursor.execute(select_books_after_1950_query)
books_after_1950 = cursor.fetchall()
for book in books_after_1950:
    print(book)
conn.close()

(3, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')

5. Использование оператора LIKE
Найдите все книги, название которых начинается с буквы "T".

In [6]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
select_books_starting_with_T_query = "SELECT * FROM books WHERE title LIKE 'T%';"
cursor.execute(select_books_starting_with_T_query)
books_starting_with_T = cursor.fetchall()
for book in books_starting_with_T:
    print(book)
conn.close()

(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')
(3, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')

6. Сортировка данных
Отсортируйте книги по году публикации в порядке возрастания.

In [8]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
select_sorted_books_query = "SELECT * FROM books ORDER BY year_published ASC;"
cursor.execute(select_sorted_books_query)
sorted_books = cursor.fetchall()
for book in sorted_books:
    print(book)
conn.close()

(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')
(2, '1984', 'George Orwell', 1949, 'Dystopian')
(3, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')

7. Ограничение количества строк
Выберите первые две книги из таблицы books, отсортированные по названию.

In [10]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
select_limited_books_query = "SELECT * FROM books ORDER BY title ASC LIMIT 2;"
cursor.execute(select_limited_books_query)
limited_books = cursor.fetchall()
for book in limited_books:
    print(book)
conn.close()

(2, '1984', 'George Orwell', 1949, 'Dystopian')
(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')

8. Агрегатные функции
Подсчитайте общее количество книг в таблице books.

In [11]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
count_books_query = "SELECT COUNT(*) AS total_books FROM books;"
cursor.execute(count_books_query)
total_books = cursor.fetchone()[0]
print(f"Общее количество книг: {total_books}")
conn.close()

Общее количество книг: 3

9. Группировка данных
Подсчитайте количество книг для каждого жанра.

In [12]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
count_books_by_genre_query = """
SELECT genre, COUNT(*) AS total_books
FROM books
GROUP BY genre;
"""
cursor.execute(count_books_by_genre_query)
results = cursor.fetchall()
for genre, total_books in results:
    print(f"Жанр: {genre}, Количество книг: {total_books}")
conn.close()

Жанр: Classic, Количество книг: 1
Жанр: Dystopian, Количество книг: 1
Жанр: Fiction, Количество книг: 1

10. Обновление данных
Обновите год публикации книги "1984" на 1948.

In [15]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
update_publication_year_query = """
UPDATE books
SET year_published = 1948
WHERE title = '1984';
"""
cursor.execute(update_publication_year_query)
conn.commit()
conn.close()

11. Удаление данных
Удалите книгу с названием "The Great Gatsby".

In [18]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
delete_book_query = """
DELETE FROM books
WHERE title = 'The Great Gatsby';
"""
cursor.execute(delete_book_query)
conn.commit()
conn.close()

12. Создание индекса
Создайте индекс для столбца author в таблице books.

In [26]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
cursor.execute("DROP INDEX IF EXISTS idx_author;")
cursor.execute("CREATE INDEX idx_author ON books(author);")
conn.commit()
conn.close()

13. Проверка существования индекса
Проверьте, существует ли индекс для столбца author.

In [27]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
cursor.execute("""
    SELECT name
    FROM sqlite_master
    WHERE type = 'index' AND tbl_name = 'books' AND name = 'idx_author';
""")
index_exists = cursor.fetchone()
if index_exists:
    print(f"Индекс '{index_exists[0]}' существует.")
else:
    print("Индекс 'idx_author' не существует.")
conn.close()

Индекс 'idx_author' существует.

14. Триггер для логирования
Создайте триггер, который записывает изменения в таблицу logs при добавлении новой книги.

In [35]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    published_date DATE
)
''')
cursor.execute('''
CREATE TABLE IF NOT EXISTS logs (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    book_id INTEGER,
    action TEXT,
    log_time DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (book_id) REFERENCES books(id)
)
''')
cursor.execute('''
CREATE TRIGGER IF NOT EXISTS log_book_insert
AFTER INSERT ON books
BEGIN
    INSERT INTO logs (book_id, action)
    VALUES (new.id, 'added');
END;
''')
conn.commit()
conn.close()
def add_book(title, author, published_date):
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('''
    INSERT INTO books (title, author, year_published)
    VALUES (?, ?, ?)
    ''', (title, author, published_date))
    conn.commit()
    conn.close()
def view_logs():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM logs')
    logs = cursor.fetchall()
    for log in logs:
        print(log)
    conn.close()
add_book('1984', 'George Orwell', '1949-06-08')
view_logs()

(1, 4, 'added', '2025-04-29 06:20:40')
(2, 5, 'added', '2025-04-29 06:21:18')
(3, 6, 'added', '2025-04-29 06:21:21')
(4, 7, 'added', '2025-04-29 06:21:22')
(5, 8, 'added', '2025-04-29 06:21:23')
(6, 9, 'added', '2025-04-29 06:21:23')
(7, 10, 'added', '2025-04-29 06:21:23')

15. Транзакции
Создайте программу, которая выполняет следующие действия в рамках одной транзакции:

Добавляет новую книгу.
Обновляет год публикации другой книги.
Отменяет изменения, если возникает ошибка.

In [38]:
import sqlite3
def setup_database():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT NOT NULL,
        author TEXT NOT NULL,
        published_date DATE
    )
    ''')
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS logs (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        book_id INTEGER,
        action TEXT,
        log_time DATETIME DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (book_id) REFERENCES books(id)
    )
    ''')
    conn.commit()
    conn.close()
def add_book(title, author, published_date):
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('''
    INSERT INTO books (title, author, year_published)
    VALUES (?, ?, ?)
    ''', (title, author, published_date))
    conn.commit()
    conn.close()
def update_published_year(book_id, new_year):
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('''
    UPDATE books SET year_published = ?
    WHERE id = ?
    ''', (new_year, book_id))
    conn.commit()
    conn.close()
def perform_transaction(new_book, book_to_update_id, new_year):
    conn = sqlite3.connect('library.db')
    try:
        conn.execute('BEGIN TRANSACTION')
        add_book(*new_book)
        update_published_year(book_to_update_id, new_year)
        conn.commit()
        print("Транзакция успешно завершена.")
    except Exception as e:
        conn.rollback()
        print("Ошибка:", e)
        print("Изменения отменены.")
    finally:
        conn.close()
setup_database()
add_book('1984', 'George Orwell', '1949-06-08')
add_book('Brave New World', 'Aldous Huxley', '1932-01-01')
perform_transaction(
    new_book=('The Great Gatsby', 'F. Scott Fitzgerald', '1925-04-10'),
    book_to_update_id=1,
    new_year='1950-01-01'
)

Транзакция успешно завершена.

16. Пользовательская функция
Создайте пользовательскую функцию на Python, которая вычисляет возраст книги (текущий год минус год публикации), и используйте её в SQL-запросе.

In [45]:
import sqlite3
from datetime import datetime
def setup_database():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT NOT NULL,
        author TEXT NOT NULL,
        year_published DATE
    )
    ''')
    conn.commit()
    conn.close()
def add_book(title, author, published_date):
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('''
    INSERT INTO books (title, author, year_published)
    VALUES (?, ?, ?)
    ''', (title, author, published_date))
    conn.commit()
    conn.close()
def calculate_book_age(published_date):
    try:
        published_date_obj = datetime.strptime(published_date, '%Y-%m-%d')
        current_year = datetime.now().year
        return current_year - published_date_obj.year
    except Exception as e:
        print(f"Error calculating book age: {e}")
        return None
def main():
    setup_database()
    add_book('1984', 'George Orwell', '1949-06-08')
    add_book('Brave New World', 'Aldous Huxley', '1932-01-01')
    conn = sqlite3.connect('library.db')
    conn.create_function("calculate_book_age", 1, calculate_book_age)
    cursor = conn.cursor()
    cursor.execute('''
    SELECT title, author, year_published, calculate_book_age(year_published) AS age
    FROM books
    ''')
    for row in cursor.fetchall():
        age = row[3] if row[3] is not None else "Error calculating age"
        print(f"Title: {row[0]}, Author: {row[1]}, Published Date: {row[2]}, Age: {age} years")
    conn.close()
if __name__ == "__main__":
    main()

Error calculating book age: strptime() argument 1 must be str, not int
Error calculating book age: strptime() argument 1 must be str, not int
Title: 1984, Author: George Orwell, Published Date: 1948, Age: Error calculating age years
Title: To Kill a Mockingbird, Author: Harper Lee, Published Date: 1960, Age: Error calculating age years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: Brave New World, Author: Aldous Huxley, Published Date: 1932-01-01, Age: 93 years
Title: The Great Gatsby, Author: F. Scott Fitzgerald, Published Date: 1925-04-10, Age: 100 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: Brave New World, Author: Aldous Huxley, Published Date: 1932-01-01, Age: 93 years
Title: The Great Gatsby, Author: F. Scott Fitzgerald, Published Date: 1925-04-10, Age: 100 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: Brave New World, Author: Aldous Huxley, Published Date: 1932-01-01, Age: 93 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: Brave New World, Author: Aldous Huxley, Published Date: 1932-01-01, Age: 93 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: Brave New World, Author: Aldous Huxley, Published Date: 1932-01-01, Age: 93 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: Brave New World, Author: Aldous Huxley, Published Date: 1932-01-01, Age: 93 years
Title: 1984, Author: George Orwell, Published Date: 1949-06-08, Age: 76 years
Title: Brave New World, Author: Aldous Huxley, Published Date: 1932-01-01, Age: 93 years

17. Представления
Создайте представление modern_books, которое содержит книги, опубликованные после 1950 года.

In [49]:
import sqlite3
def setup_database():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT NOT NULL,
        author TEXT NOT NULL,
        year_published DATE
    )
    ''')
    conn.commit()
    conn.close()
def add_book(title, author, published_date):
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('''
    INSERT INTO books (title, author, year_published)
    VALUES (?, ?, ?)
    ''', (title, author, published_date))
    conn.commit()
    conn.close()
def create_modern_books_view():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('''
    CREATE VIEW IF NOT EXISTS modern_books AS
    SELECT *
    FROM books
    WHERE year_published > '1950-01-01';
    ''')
    conn.commit()
    conn.close()
def main():
    setup_database()
    add_book('1984', 'George Orwell', '1949-06-08')
    add_book('Fahrenheit 451', 'Ray Bradbury', '1953-10-19')
    add_book('Dune', 'Frank Herbert', '1965-08-01')
    create_modern_books_view()
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM modern_books')
    print("Modern Books:")
    for row in cursor.fetchall():
        print(row)
    conn.close()
if __name__ == "__main__":
    main()

Modern Books:
(28, 'Fahrenheit 451', 'Ray Bradbury', '1953-10-19', None)
(29, 'Dune', 'Frank Herbert', '1965-08-01', None)
(31, 'Fahrenheit 451', 'Ray Bradbury', '1953-10-19', None)
(32, 'Dune', 'Frank Herbert', '1965-08-01', None)
(34, 'Fahrenheit 451', 'Ray Bradbury', '1953-10-19', None)
(35, 'Dune', 'Frank Herbert', '1965-08-01', None)

18. Удаление таблицы
Удалите таблицу books и проверьте её существование.

In [55]:
import sqlite3
def setup_database():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT NOT NULL,
        author TEXT NOT NULL,
        year_published DATE
    )
    ''')
    conn.commit()
    conn.close()
def drop_books_table():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('DROP TABLE IF EXISTS books')
    conn.commit()
    conn.close()
def check_books_table_exists():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='books';")
    result = cursor.fetchone()
    if result:
        print("Таблица 'books' существует.")
    else:
        print("Таблица 'books' была успешно удалена.")
    conn.close()
def main():
    setup_database()
    drop_books_table()
    check_books_table_exists()
if __name__ == "__main__":
    main()

Таблица 'books' была успешно удалена.

19. Композитный индекс
Создайте композитный индекс для столбцов author и year_published в таблице books.

In [57]:
import sqlite3
def setup_database():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT NOT NULL,
        author TEXT NOT NULL,
        year_published INTEGER
    )
    ''')
    conn.commit()
    conn.close()
def create_composite_index():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()
    cursor.execute('CREATE INDEX IF NOT EXISTS idx_author_year ON books (author, year_published);')
    conn.commit()
    conn.close()
def main():
    setup_database()
    create_composite_index()
    print("Композитный индекс для столбцов author и year_published был успешно создан.")
if __name__ == "__main__":
    main()

Композитный индекс для столбцов author и year_published был успешно создан.

20. Удаление базы данных
Напишите программу, которая удаляет файл базы данных library.db, если он существует.

In [58]:
import os
def delete_database():
    db_file = 'library.db'
    if os.path.exists(db_file):
        os.remove(db_file)
        print(f"Файл {db_file} был успешно удален.")
    else:
        print(f"Файл {db_file} не существует.")
if __name__ == "__main__":
    delete_database()

Файл library.db был успешно удален.

21. Обязательное задание.
Создать базу данных (БД).
Для каждого класса из "Задачи до 25 апреля" реализовать соответствующую таблицу в базе данных.
Обеспечить механизмы для ввода и вывода данных в/из таблиц.

In [62]:
import sqlite3
conn = sqlite3.connect('school.db')
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS Student (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
)
''')
cursor.execute('''
CREATE TABLE IF NOT EXISTS Course (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    credits INTEGER NOT NULL
)
''')
cursor.execute('''
CREATE TABLE IF NOT EXISTS Enrollment (
    student_id INTEGER,
    course_id INTEGER,
    FOREIGN KEY (student_id) REFERENCES Student(id),
    FOREIGN KEY (course_id) REFERENCES Course(id)
)
''')
conn.commit()
conn.close()
def add_student(name, age):
    conn = sqlite3.connect('school.db')
    cursor = conn.cursor()
    cursor.execute('INSERT INTO Student (name, age) VALUES (?, ?)', (name, age))
    conn.commit()
    conn.close()
def add_course(title, credits):
    conn = sqlite3.connect('school.db')
    cursor = conn.cursor()
    cursor.execute('INSERT INTO Course (title, credits) VALUES (?, ?)', (title, credits))
    conn.commit()
    conn.close()
def enroll_student(student_id, course_id):
    conn = sqlite3.connect('school.db')
    cursor = conn.cursor()
    cursor.execute('INSERT INTO Enrollment (student_id, course_id) VALUES (?, ?)', (student_id, course_id))
    conn.commit()
    conn.close()
def get_students():
    conn = sqlite3.connect('school.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM Student')
    students = cursor.fetchall()
    conn.close()
    return students
def get_courses():
    conn = sqlite3.connect('school.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM Course')
    courses = cursor.fetchall()
    conn.close()
    return courses
def get_enrollments():
    conn = sqlite3.connect('school.db')
    cursor = conn.cursor()
    cursor.execute('''
        SELECT Student.name, Course.title FROM Enrollment
        JOIN Student ON Enrollment.student_id = Student.id
        JOIN Course ON Enrollment.course_id = Course.id
    ''')
    enrollments = cursor.fetchall()
    conn.close()
    return enrollments
add_student("Alice", 20)
add_student("Bob", 22)
add_course("Mathematics", 4)
add_course("Physics", 3)
enroll_student(1, 1)
enroll_student(2, 2)
print("Студенты:", get_students())
print("Курсы:", get_courses())
print("Записи на курсы:", get_enrollments())

Студенты: [(1, 'Alice', 20), (2, 'Bob', 22), (3, 'Alice', 20), (4, 'Bob', 22), (5, 'Alice', 20), (6, 'Bob', 22), (7, 'Alice', 20), (8, 'Bob', 22)]
Курсы: [(1, 'Mathematics', 4), (2, 'Physics', 3), (3, 'Mathematics', 4), (4, 'Physics', 3), (5, 'Mathematics', 4), (6, 'Physics', 3), (7, 'Mathematics', 4), (8, 'Physics', 3)]
Записи на курсы: [('Alice', 'Mathematics'), ('Bob', 'Physics'), ('Alice', 'Mathematics'), ('Bob', 'Physics'), ('Alice', 'Mathematics'), ('Bob', 'Physics'), ('Alice', 'Mathematics'), ('Bob', 'Physics')]